<script src="/assets/bootstrap-tooltip.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-popover.js?body=1" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('.has-tooltip').tooltip();
  $('.has-popover').popover({
    trigger: 'hover'
  });

  $('.sponsor-popover').popover({ html : true });
});
</script>

<p id="notice"><%= notice %></p>

<div class="container-fluid">
<section id='form form-horizontal well'>
<%= form_for(@study) do |s| %>
  <h2>
    <%= @study.nct_id %>
    <span>
      <%= @study.brief_title %>
      <% if !@study.acronym.blank? %>
        (<%= @study.acronym %>)
      <% end %>
    </span>
  </h2>

  <div class='well'>
    <button type="button"
	    class="btn btn-link has-popover"
	    data-toggle="popover"
            data-content="<%= DataDefinition.nlm_info_for('sponsor_type') %>">Lead Sponsor: </button>
    <%= @study.lead_sponsor.agency %>
    <% if !@study.org_study_id.blank? %>
      <button type="button"
	    class="btn btn-link has-popover"
	    data-toggle="popover"
            data-content="<%= DataDefinition.nlm_info_for('org_study_id') %>">
	    (<%= @study.org_study_id %>)</button>
     <% end %>
    <div>
      <button type="button"
	    class="btn btn-link has-popover"
	    data-toggle="popover"
            data-content="<%= DataDefinition.nlm_info_for('study_design') %>">
	    <%= @study.study_type %></button>

      <button type="button"
	    class="btn btn-link has-popover"
	    data-toggle="popover"
            data-content="<%= DataDefinition.nlm_info_for('phase') %>">
            <%= @study.phase %></button>

      <button type="button"
	    class="btn btn-link has-popover"
	    data-toggle="popover"
            data-content="<%= DataDefinition.nlm_info_for('overall_status') %>">
            <%= @study.overall_status %></button>

    </div>
    <% if !@study.start_date.blank? %>
      <div>
      <button type="button"
	    class="btn btn-link has-popover"
	    data-toggle="popover"
            data-content="<%= DataDefinition.nlm_info_for('start_date') %>">
	    Started: </button>
      </button>
        <%= @study.start_date %>
      </div>
    <% end %>
    <% if !@study.first_received_date.blank? %>
      <div>
        <button type="button"
	    class="btn btn-link has-popover"
	    data-toggle="popover"
            data-content="<%= DataDefinition.ctti_info_for('firstreceived_date') %>">
	    First Received: </button>
        <%= @study.first_received_date %>
      </div>
    <% end %>
    <% if !@study.completion_date.blank? %>
      <div>
        Completed: <%= @study.completion_date %>
      </div>
    <% end %>
  </div>

  <div class='well'>
    <div>
      <%= @study.brief_summary.description %>
    </div>
  </div>

  <% if @study.keywords.size > 0 %>
    <h2>Keywords</h2>
    <div class='well'>
      <% @study.keywords.each do |k| %>
          <p class='keyword'><%= k.name %></td>
      <% end %>
    </div>
  <% end %>

  <% if @study.facilities.size > 0 %>
    <h2>Facilities</h2>
    <div class='table-responsive well'>
      <table id="facilitiesTable" class='table table-striped table-condensed table-hover' width='100%'>
      <thead>
      <tr>
	<th>name</th>
	<th>city</th>
	<th>state</th>
      </tr>
      <thead>
      <% @study.facilities.each do |fac| %>
	<tr>
          <td class="facility_element"><%= fac.name %></td>
          <td class="facility_element"><%= fac.city %></td>
          <td class="facility_element"><%= fac.state %></td>
	</tr>
      <% end %>
      </table>
    </div>
  <% end %>

  <% if @study.expected_outcomes.size > 0 %>
    <h2>Prespecified Outcomes</h2>
    <div class='table-responsive well'>
      <table id="expectedOutcomesTable" class='table table-striped table-condensed table-hover' width='100%'>
      <thead>
      <tr>
	<th>type</th>
	<th>measure</th>
	<th>time frame</th>
      </tr>
      </thead>
      <% @study.expected_outcomes.each do |o| %>
        <tr>
          <td class="out"><%= o.outcome_type %></td>
          <td class="out"><%= o.measure %></td>
          <td class="out"><%= o.time_frame %></td>
         </tr>
      <% end %>
      </table>
    </div>
   <% end %>

  <% if @study.reported_events.size > 0 %>
    <h2>Reported Events</h2>
      <div class='table-responsive well'>
      <table id="eventsTable" class='table table-striped table-condensed table-hover' width='100%'>
      <thead>
      <tr>
	<th class='span3'>type</th>
	<th>id</th>
	<th>group desc</th>
	<th>assessment</th>
	<th># at risk</th>
	<th># affected</th>
	<th>events</th>
      </tr>
      </thead>
      <% @study.reported_events.sort_by{|re|re.ctgov_group_enumerator}.each do |o| %>
				  <% if o.subjects_affected != 0 and o.event_count != 0 %>
          	<tr>
            	<td><%= o.type %></td>
            	<td><%= o.ctgov_group_id %></td>
            	<td><%= o.group_title %></td>
            	<td><%= o.title %></td>
            	<td><%= o.subjects_at_risk %></td>
            	<td><%= o.subjects_affected %></td>
            	<td><%= o.event_count %></td>
          	</tr>
   				<% end %>
      <% end %>
      </table>
    </div>
   <% end %>

  </div>
<% end %>

</section>
</div>
<%= link_to 'Back', studies_path %>
