<div class="row">
  <div class="col-md-3">

    <h4>
      <%= @study.acronym %>
      <%= @study.brief_title %>
    </h4>

    <div class="star-rating" data-score= <%= @study.average_rating %> ></div>
    <p><%= "#{@study.reviews.length} reviews" %></p>

    <p>
			<li><i class="fa-li fa fa-check-square"></i> <%= @study.overall_status %></li>
			<li><i class="fa-li fa fa-check-square"></i> <%= @study.study_type %></li>
			<li><i class="fa-li fa fa-check-square"></i> <%= @study.phase %></li>
    </p>

    <p>
      <%= @study.prime_address %>
    </p>

    <p>

		<%= link_to "Write a Review", new_review_path(:nct_id=>@study.nct_id), class: "btn btn-primary" %>

		<%= link_to 'Return to List', studies_path, class: "btn btn-primary" %>

    <br>
    <br>

    <iframe
      width="230"
      height="230"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJg0HiO2KtvExTuiWB6rKhmUUsHXFk6dY
        &q=<%= @study.prime_address.parameterize %>&zoom=14">
    </iframe>
  </div>

  <div class="col-md-9">
    <% if @study.reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody>
          <% @study.reviews.each do |review| %>
            <tr>
              <td>
                <h4>
                  <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                </h4>
                <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
              </td>

              <td>
                <div class="star-rating" data-score= <%=review.rating %> ></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
                <% if user_signed_in? %>
									<td><%= link_to 'Edit', edit_review_path(review), data: {:id=>review.id}, class: "btn btn-link" %></td>
									<td><%= link_to 'Destroy', review, method: :delete, data: {confirm: 'Are you sure?',:id=>review.id}, class: "btn btn-link" %></td>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_study_path(@study), class: "btn btn-link" %> |
<%= link_to 'Back', studies_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/yelpdemo/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>


